/* Custom variables */
$primary: #F49E18;
$secondary: #548CBB;
$dark: #212324;
$primaryLight: #FFB235;
$secondaryLight: #7DA1C2;

/* Mixins */
@mixin anchorLeft{
  text-align: left;
}


/* Bootstrap import */
@import "../node_modules/bootstrap/scss/bootstrap";


/* Styling */

*{
  box-sizing: border-box;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  img{
    max-width: 100%;
  }

  p{
    text-align: left;
  }

  .container-fluid{
    padding: 0;
  }

  .landing{
    @include anchorLeft;
    background-image: url("../images/bright-color-design-1161547 (1).jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 30vh;
    min-width: 95vw;
    margin-bottom: 1rem;

    &__img{
      width: 40%;
      margin: 0.5rem;
    }
  }

  .what{
    margin-bottom: 5%;

    #container{
      padding: 5%;
    }

  }

  .who{

    .who__title{
      margin-top: 5%;
    }

    .who__container{
      padding: 5%;
    }

  }

  .contact{
    .contact__title{
      margin-top: 5%;
      margin-bottom: 5%;
    }
    .row{
      margin-bottom: 20%;
      figure{
        margin-bottom: 8%;
        img{
          max-width: 40%;
        }
      }
    }
  }
}

@media screen and (min-width: 786px){

  .landing__img{

  }

  #container{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 5%;

    .what__content{
      padding: 0 15% 0 15%;
      margin-left: 5%;
    }

    .what__development{
      padding: 0 15% 0 15%;
      margin-right: 5%;
    }

  }

  .who__container{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 5%;

    .who__text1{
      padding: 0 15% 0 15%;
      margin-left: 5%;
    }

    .who__text2{
      padding: 0 15% 0 15%;
      margin-right: 5%;
    }

  }

  .contact{
    .row{
      margin-bottom: -5%;
      figure{
        figcaption{
          font-size: 1.5em;
        }
      }
    }
  }
}
